%footer#site_footer
  != "&copy; 2011 Copyright Tekukan LLC. All rights reserved."
  = link_to 'f', 'https://www.facebook.com/pages/Tekukan/304486452916265', class: 'social'
  = link_to 't', 'https://twitter.com/#!/tekukan', class: 'social'
  