-title "Tekukan: Digital Solutions To Enhance Your Online Presence"

%section#home_page
  = image_tag 'digital_presence.png', alt: 'Your Digital Presence', title: 'Your Digital Presence'
  %p= "Tekukan specializes in Internet-based technologies and the strategies to use them appropriately to drive your business. We can build a new online presence for you or help you take your existing presence to the next level."
  %p
    = "Please see our"
    = link_to "Services", services_pages_path
    ="for a full list of options."
